<div>
    <img id="loading" src="~/Content/Images/load.gif" style="display: none; width: auto; position: center" />

</div>
@*<div id="loading" style="display:none; color:Red; font-weight:bold;">
        <p>Идет загрузка...</p>
    </div>*@

<div id="results"></div>


@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}