
@{
    ViewBag.Title = "Error 403";
}

<br />
<br />

<div class="text-center">
    <h2>Error 403. Forbidden</h2>
    <img src="~/Content/Images/403.jpg" class="img-fluid" alt="Responsive image">
</div>


