
@{
    ViewBag.Title = "Error 404";
}

<br />
<br />

<div class="text-center">
    <h2>Error 404. Page not found</h2>
    <img src="~/Content/Images/404.png" class="img-fluid" alt="Responsive image">
</div>


